@media screen and (min-width: 800px){
  .search-input{
    width: 550px !important;
  }
  .navbar{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .book-container{
    flex-direction: column;
  }
  .banner{
    font-size: 50px !important;
  }
  .banner-sub-explained{
    font-size: 20px !important;
  }
  .navbar{
    display: none;
  }

}

@media screen and (min-width:600px) and (max-width:800px){
  .search-input{
    width: 350px !important;
  }
  .navbar{
    display: none;
  }
}

@media screen and (max-width: 600px){
  .header-details{
    display: none !important;
  }
  .login-logout{
    display: none !important;
  }
  .header-search-bar{
    width: 80%;
    margin: 0 auto;
  }
  .navbar{
    display: inline-block;
    color: white;
  }
}