@use '../../styles/forms.scss';


.book-container{
  display: flex;
  direction: rtl;
  height: 90vh;
  margin: 100px;
}

.details-container{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.img-container{
  margin-left: 100px;
}
.img-container img{
  width: 300px;
  height: 500px;
}

.book-description{
  font-size: 22px;
  font-style: italic;
  padding: 16px 0px;
}


.shop-root{
  height: 100%;
}


