@use '../../styles/forms.scss';

.shop-root{
  justify-content: start;
  height: 100%;
}

.books-not-found{
  font-size: 40px;
  font-weight: 800;
  font-style: oblique;
  padding-top: 80px;
  direction: rtl;
  animation: color-changing-animation 4s linear infinite;
  text-align: center;
}

@keyframes color-changing-animation{
  0% {
    color: black;
  }
  50%{
    color: rgb(182, 184, 140);
  }
  100%{
    color: black;
  }
}