
<div class="profile-container">
  <div class="greetings">Hey {{loggedUserName}}!</div>
  <div class="sub-greetings">Would you Like to change your details?</div>
  <div *ngIf="loggedUserDetails[0]?.homeAddress">
    <div class="mark">Your Home address is: {{loggedUserDetails[0]?.homeAddress}}</div>
    <div>Would you like to change it?</div>
  </div>
  <div *ngIf="!loggedUserDetails[0]?.homeAddress">Add your home address!</div>
  
  <input #homeAddressInput  type="text">
  <button (click)="addChange(homeAddressInput, 'home')">
    <div *ngIf="loggedUserDetails[0]?.homeAddress">Change</div>
    <div *ngIf="!loggedUserDetails[0]?.homeAddress">Add</div>
  </button>

    <div *ngIf="loggedUserDetails[1]?.age">
    <div >Your age is: {{loggedUserDetails[1]?.age}}</div>
    <div>Would you like to change it?</div>
  </div>
  <div *ngIf="!loggedUserDetails[1]?.age">Add your age</div>
  <input #ageInput type="text">
  <button  (click)="addChange(ageInput, 'age')">
    <div *ngIf="loggedUserDetails[1]?.age">Change</div>
    <div *ngIf="!loggedUserDetails[1]?.age">Add</div>
  </button>

  <div *ngIf="loggedUserDetails[2]?.favoriteGenre">
    <div class="mark">Your favorite book genre is: {{loggedUserDetails[2]?.favoriteGenre}}</div>
    <div>Would you like to change it?</div>
  </div>
  <div *ngIf="!loggedUserDetails[2]?.favoriteGenre">Would you like to add your favorite genre?</div>
    <input #favoriteGenreInput type="text">
  <button (click)="addChange(favoriteGenreInput, 'genre')">
        <div *ngIf="loggedUserDetails[2]?.favoriteGenre">Change</div>
    <div *ngIf="!loggedUserDetails[2]?.favoriteGenre">Add</div>
  </button>

  <div *ngIf="loggedUserName !== 'admin'">Delete Your Account?</div>
  <button class="delete-warning" *ngIf="loggedUserName !== 'admin'" (click)="deleteUser()">Delete!</button>

  <div *ngIf="loggedUserName !== 'admin' ">
  <div *ngIf="loggedUserName !== 'admin'">Get A Discount!</div>
  <input #discount type="text" placeholder="insert discount code">
  <button  *ngIf="loggedUserName !== 'admin'" (click)="applyDiscount(discount)">Apply Code</button>
</div>

  <div *ngIf="loggedUserName === 'admin'">
    <div>Give Logged Users A discount</div>
    <input #discountSize type="text" placeholder="insert discount number">
  <button  (click)="applyDiscountLoggedUsers(discountSize)">Apply Code</button>
  </div>
  <div *ngIf="loggedUserName === 'admin'">
    האדמין מחובר כרגע
  </div>
</div> 