@use '../../../styles/forms.scss';


.shop-root{
  height: 100%;
}

.profile-container{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230, 224, 216);
  height: 100%;
}
.profile-container > *{
  padding: 4px;
}

.greetings{
  font-size: 32px;
  font-weight: 700;
  font-style: oblique;
}

.sub-greetings{
  font-size: 24px;
  font-weight: 500;
}

.mark{
  font-style: oblique;
}

.info-container{
  flex-direction: row;
}

.delete-warning{
  color: red;
  font-weight: 700;
}
