@use 'app/styles/header';
@use 'app/styles/book';
@use 'app/styles/banner';
@use 'app/styles/media';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  width: 100%;
}



